.baslik{
   color:red ;
   text-align:center;
}
.altbaslik{
    color:purple;
    text-align:center;
}
.listebaslik{
    color:orange;
    text-align:center;
}
.link{
    text-align:center;
}
.liste{
    list-style-position: inside ;
    text-align:center;
}
.resim{
    max-width: 200px;
    height: auto;
}
.baslik2{
    color:orange;
}